header {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.logo-name img {
  height: 80px;
  width: 250px;
  margin: 30px;
}

.logo-name, .nav li {
  color: black;
  font-weight: 400;
  align-self: center;
  padding-left: 5px;
}

.nav {
  margin-left: auto;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
}

li a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

footer {
  /* padding: 2rem; */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  height: auto;
  align-items: center;
  width: 100%;
  align-items: start;
  background-color: #ffffff;
}

.footer-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: flex-start;
  color: #495E57;
}

.footer-card a {
  color: #495E57;
  text-decoration: none;
}